<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Admin Page</title>
<style>
body{
  background: lightblue;
}
.container{
width: 30%;
position: absolute;
left: 35%;
top: 35%;
border: 1px solid darkblue;
text-align: center;
padding: 20px;
background: white;
}
a,
a:hover,
a:visited,
a:focus,
span{
  color: darkblue;
}
</style>
</head>
<body>



        <div class="container">
        </div>

  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script>
  $( document ).ready(function() {
  $.get( "/admin/mostVisitedSite/data", function( data ) {
    console.log(data);
    for(i = 0; i < data.data.length; i++){
      $('.container').append("<div class='row'><a href='http://localhost:3000/" + data.data[i]._id + "'><span style='margin-right: 10px'>localhost:3000/"
       + data.data[i]._id + "</span></a><span>" + data.data[i].count + "</span></div>");
  console.log(data.data[0]._id);
}
});
});
</script>

</body>
</html>
